@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    width: 100%;
    height: 100%;
  }

  #interlaced {
    position: fixed;
    background: repeating-linear-gradient(
      transparent 0px 1px,
      hsl(154 0% 0%/0.2) 3px 4px
    );
    inset: 0;
    z-index: 1;
    pointer-events: none;
  }

  #terminalEditor {
    overflow: hidden;
    padding: 0;
    background: radial-gradient(
      hsl(154 5% 15%) 0%,
      hsl(154deg 35.34% 12.9%) 70%
    ) !important;
  }

  #glare {
    position: fixed;
    inset: 0;
    z-index: -1;
    background: radial-gradient(
      hsl(154 5% 15%) 0%,
      hsl(154deg 35.34% 12.9%) 70%
    );
  }

  #text {
    background: repeating-linear-gradient(
      transparent 0px 3px,
      hsl(154 0% 0%/0) 3px 4px
    );
    z-index: 1;
    position: fixed;
    inset: 0;
    pointer-events: none;
  }
}
